.title {
  color: blueviolet;
  text-align: center;
  width: 1200px;
}

.components {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}
