.item {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
  border: 2px solid #000;
  width: 420px;
  background-color: #fefff7;
  box-shadow: 1px 1px 3px 1px #575757;
  border-radius: 7px;
  padding: 15px;
}

.item:hover {
  scale: 1.02;
  background-color: #eef1da;
}

.statusOnline {
  width: 25px;
  height: 25px;
  background-color: #08aa08;
  border-radius: 50%;
}

.statusOffline {
  composes: statusOnline;
  background-color: red;
}

.name {
  font-weight: 400;
}
